body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-gradient(linear, left bottom, right top, color-stop(17%, #169ad6), color-stop(100%, #423691)) !important;
  background: -webkit-linear-gradient(45deg, #169ad6 17%, #423691 100%) !important;
  background: linear-gradient(45deg, #423691 17%, #169ad6 100%) !important;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}